body {
  background: #d1d5db
}

.hero {
  background-image: url('https://images.hdqwalls.com/download/clouds-summer-weather-5k-1b-1920x1080.jpg');
  width: 100%;
  height: 200px
}
.form {
  position: relative
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}

.form span {
  position: absolute;
  right: 17px;
  top: 7px;
  padding: 2px;
  border-left: 1px solid #d1d5db
}

.left-pan {
  padding-left: 7px
}

.left-pan i {
  padding-left: 10px
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}


.main-search-button {
    background: #4DB7FE
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative
}

:focus {
    outline: 0
}

#dayCard {
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #9E9E9E;
  background-color: #badcec;
  margin: 20px;
  max-width: 600px;
  height: 270px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#searchCard {
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #9E9E9E;
  background-color: #badcec;
  margin: 20px;
  width: 275px;
  min-height: 270px;
  padding: 20px;
}

#city::first-letter{
  text-transform: uppercase;
}

#description::first-letter {
  text-transform: uppercase;
}

.searches::first-letter {
  text-transform: uppercase;
}

#icon {
  display: inline;
}

#clearSearch {
  margin-top: auto;
}

ul li {
  cursor: pointer;
}

.searches {
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.searches:hover,
.searches:focus,
.searches:active {
    transform: scale(1.1);
}